.venv/
__pycache__/
*.pyc

.ipynb_checkpoints/
.env
.DS_Store

# Ignora modelos treinados pesados
models/*.pth
models/*.pt
models/model_history.csv

# Ignora imagens/dados, mas mantem a estrutura com .gitkeep
data/raw/**/*
data/processed/**/*
data/hard_cases/**/*

reports/*

!data/raw/**/
!data/raw/**/.gitkeep
!data/processed/**/
!data/processed/**/.gitkeep
!data/hard_cases/**/
!data/hard_cases/**/.gitkeep
!reports/.gitkeep
